body{
    background-image: url("../images/Rectangle\ 1619.png"),url("../images/francis-odeyemi-NfL07rKmJbU-unsplash\ 1.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container
  {
    
    display: flex;
    justify-content: space-evenly;
    color: white;
    
  }