.formcontainer {
  width: 580px;
  height: 350px;
  margin-top: 160px;
  margin-bottom: 100px;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 37px;

  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  text-align: center;
}

.welcome {
  width: 137px;
  height: 32px;

  /* header / h4 */
  font-family: Averta;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;

  /* identical to box height, or 160% */
  text-align: center;

  /* Neutrals & Text/neutral900 */
  color: #353f50;

  transform: rotate(-0.3deg);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 506px;
  height: 48px;
  left: 0px;
  top: 0px;

  /* Active Blues/activeBlue400 */
  background: #0275d8;
  border-radius: 40px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  color: #ffffff;
  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.error {
  /* body / medium */
  font-family: Averta;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;


  /* Primary Reds/primaryRed400 */
  color: #dc4437;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 4px;
}

.notRegistered {
  width: 505.86px;
  height: 22px;
  margin-top: 15px;

  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  /* identical to box height */
  text-align: center;

  color: #354052;

  transform: rotate(-0.3deg);
}

.frame3 {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  width: 506px;
  height: 103.88px;

  /* Inside Auto Layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 36px 0px;
}

.frame2 {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 506px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px 0px;
}

.group {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 506px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0;
}

label {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  /* identical to box height, or 114% */
  display: flex;
  align-items: center;

  /* Neutrals & Text/neutral900 */
  color: #353f50;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

input {
  border: none;
  outline: none;
  padding: 10px 0;
  margin: 2px 0;

  width: 506px;
  left: 0px;

  background: #f3f5f6;
  border-radius: 4px;

  /* body / large */
  font-family: Averta;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */
  display: flex;
  align-items: center;

  color: #354052;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.header {
  color: #354052;
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 36px;
  transform: rotate(-0.3deg);

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 5px 0px;
}

form a {
  text-decoration: none;
  cursor: pointer;

  width: 170px;
  height: 10px;

  font-family: Averta;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #0275d8;

  transform: rotate(-0.3deg);

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px 0px;
}

.passwordEye {
  position: relative;
  display: flex;
  justify-content: content-position;
}

i {
  position: absolute;
  margin-top: 2%;
  margin-left: 95%;
  color: #7889a3;
}

i:hover {
  color: #354052;
}
