.logoContainer {
  margin-top: 25px;
}

.textContainer {
  margin-top: 35px;
}

.topBanner {
  width: 462px;
  height: 115px;

  font-family: Averta;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.01em;

  color: #ffffff;
}

.bulletContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 40px 0;
}

.bulletHeader {
  font-family: Averta;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;

  color: #ffffff;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 10px;
}

.bulletMessage {
 
  font-family: Averta;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;

  color: #cecccc;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 428px;

  top: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 21px;
}
